<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Home", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <div>
            <li class="nav-item">
              <%= link_to "Tweets", tweets_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Twitter Account", twitter_accounts_path, class: "nav-link" %>
            </li>
         </div>
        <div>
          <% if Current.user %>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", sign_up_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign In", sign_in_path, class: "nav-link" %>
            </li>
          <% end %>
        </div>
      </ul>
    </div>
  </div>
</nav>